.container {
  display: flex;
  flex-direction: column;
  align-items: start;
  gap: 30px;
  padding: 10px;
  border-radius: 20px;
  width: 85%;

}
.wrapper {
  display: flex;
  align-items: center;
  gap: 25px;
  
}
.info-wrap{
  position: relative;
  display: inline-block;
}

.info-icon {
  background-color: #ffffff;
  border-radius: 50%;
  width: 24px;
  height: 24px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 22px;
  color: #000000d8;
  box-shadow: 5px 5px 10px #0e0d0d;
  transition: box-shadow 0.3s ease;
  cursor: pointer;
}
.text {
  visibility: hidden;
  background-color: rgba(117, 113, 113, 0.856);
  color: #fff;
  text-align: center;
  border-radius: 5px;
  padding: 5px 10px;
  position: absolute;
  z-index: 1;
  bottom: -75px;
  margin-left:30px;
  opacity: 0;
  transition: opacity 0.3s;
  width:90px;
}

.info-wrap:hover .text {
  visibility: visible;
  opacity: 1;
}


.neu-input {
  padding: 10px;
  width: 200px;
  font-size: 14px;
  background: linear-gradient( #f4f5f5 );
  border: none;
  border-radius: 12px;
  box-shadow: 2px 2px 4px rgba(104, 195, 255, 0.884);
  outline:none;
  margin-bottom: 10px;
}

.neu-dropdown {
  padding: 10 10px;
  width: 100%;
  font-size: 16px;
  background: linear-gradient(to bottom, #65d4e2 0%, white 100%);

}
.select-wrap{
  margin-bottom: 1rem;
  display: flex;
  flex-direction: column; 
  gap: 2rem;

}
.child-wrap label{
  display: flex;
  align-items: center;
  gap: 30px;
  font-weight: bold;

}

label {
  font-size: 16px;
  margin-bottom: 5px;
  color: #000000;
}

select {
  width: 100%;
  padding: 10px;
  font-size: 16px;
  background: linear-gradient(to bottom, #65d4e2 0%, white 100%);
  border: none;
  border-radius: 12px;
  outline: none;
}
.neu-dropdown option{
  padding:10px;
  background:rgba(212, 239, 250, 0.836);

}
.neu-button:disabled {
  cursor: not-allowed;
}
input:disabled {
   cursor: not-allowed;
}

@media (max-width: 830px) {
  .container {
    padding: 15px;
    gap: 25px;
  }
  .neu-button:disabled {
    cursor: not-allowed;
  }
  input:disabled {
     cursor: not-allowed;
  }
  .wrapper {
    flex-direction: row;
    gap: 10px;
    width: 100%;
  }

  .neu-input {
    width: 90%;
    font-size: 14px;
  }


  .select-wrap {
    gap: 1rem;
    width: 90%;
  }
  
  .child-wrap label {
    gap: 35px;
  }

  .text {
    bottom: -70px;
    margin-left: 0;
    width: 100px;
    font-size: 12px;
  }
 .neu-dropdown{
  width:20px;
  
 
 }
  .info-icon {
    width: 20px;
    height: 20px;
    font-size: 18px;
  }
  .neu-dropdown option{
     background:rgba(212, 239, 250, 0.836);
  }
}