.container {
  display: flex;
  flex-direction: column;
  align-items: start;
  gap: 30px;
  padding: 10px;
  border-radius: 20px;
  width: 85%;

}
.wrapper {
  display: flex;
  align-items: center;
  gap: 12px;
  
}
.info-wrap{
  position: relative;
  display: inline-block;
}

.info-icon {
  background-color: #ffffff;
  border-radius: 50%;
  width: 20px;
  height: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 18px;
  color: #000000d8;
  box-shadow: 5px 5px 10px #dad8d8;
  transition: box-shadow 0.3s ease;
  cursor: pointer;
}
.text {
  visibility: hidden;
  background-color: rgba(255, 255, 255, 0.856);
  color: #000000;
  text-align: center;
  border-radius: 5px;
  padding: 5px 10px;
  position: absolute;
  z-index: 1;
  bottom: -75px;
  margin-left:30px;
  opacity: 0;
  transition: opacity 0.3s;
  width:120px;
}

.info-wrap:hover .text {
  visibility: visible;
  opacity: 1;
}


.neu-input {
  padding: 8px;
  width: 200px;
  font-size: 13px;
  background: linear-gradient( #fff8f8 );
  border: none;
  border-radius: 12px;
  box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.884);
  outline:none;
  margin-bottom: 10px;
}

.neu-dropdown {
  padding: 10 10px;
  width: 100%;
  font-size: 16px;
  background: linear-gradient(to bottom, #929292 0%, white 100%);

}
.select-wrap{
  display: flex;
  flex-direction: column; 
  gap: 2rem;

}
.child-wrap label{
  display: flex;
  align-items: center;
  gap: 30px;
  font-weight: bold;

}
.child-wrap{
  width:230px;
}

label {
  font-size: 20px;
  margin-bottom: 5px;
  color: #ffffff;
  font-weight: bold;
}


select {
  width: 100%;
  padding: 10px;
  font-size: 16px;
  border: none;
  border-radius: 12px;
  outline: none;
}
.neu-dropdown option{
  background:rgba(138, 138, 138, 0.836);

}
.neu-button {
  padding: 10px;
  font-size: 16px;
  font-weight: bold;
  border-radius: 6px;
  background: linear-gradient(to right, #a3a2a2, #ccccce, #535252);
  color: white;
  cursor: pointer;
  width:200px;
  border-radius: 10px;
  border: none;
  transition: background-color 0.3s;
}
.neu-button:hover{
  background-color: grey;
}
