* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  background: linear-gradient(to right, #717388 0%, white 100%);
  color: #333;
  overflow-x: hidden;
}
.app-container {
  display: flex;
  height: 100vh;
  width: 100%;
}
.sidebar {
   background-color: #2d2f3e;
  color: #fff;
  padding: 100px 10px 10px;
  width: 280px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.heading{
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 25px;
  margin-right: 50px;

}
.group {
  font-size: 3rem;
  font-weight: bold;
  
}

.sort {
  color: #ffffff;
}

.ify {
  color: #e91e63;
}
.group:hover .sort {
  color: #e91e63;
}
.group:hover .ify {
  color: rgb(255, 255, 255);
}


.new-sidebar {
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.footer {
  font-size: 1.6rem;
  text-align: center;
  color:white;
  cursor: pointer;
  margin-bottom:2rem;
}

.footer:hover {
  color: #e91e63;
  text-decoration: underline;
}

.visualizer-wrap {
  flex: 1;
  display: flex;
  flex-direction: column;
   background: linear-gradient(to right, #141e30, #243b55);
  justify-content: center;
    box-shadow: inset 0 0 30px rgba(0, 0, 0, 0.2);
  overflow: auto;
  gap: 0px;
}

.visualizer {
  display: flex;
  align-items: flex-end;
  justify-content: center;
  height: 65%;
  padding: 1rem;
 
}

.bar {
  width: 30px;
background-color: #00bcd4; 
  text-align: center;
  font-size: 12px;
  font-weight: bold;
  color: #000000;
  border-radius: 5px 5px 0 0;
  transition: background-color 0.3s, height 0.3s;
}

.button-container {
  display: flex;
  justify-content: center;
  align-items: center;

}

.play-btn {
  background: linear-gradient(to right, #ffffff, #7c7c81, #ffffff);
  border: none;
  padding: 0.75rem 2rem;
  border-radius: 30px;
  font-size: 1.1rem;
  font-weight: bold;
  color: #2d2f3e;
  cursor: pointer;
  margin-left: -90px;
  transition: transform 0.2s ease, background 0.3s ease;
}

.play-btn:disabled {
  cursor: not-allowed;
}

.play-btn:hover:not(:disabled) {
  transform: scale(1.05);
}

/* .legend-right {
  position: absolute;
  top: 10%;
  right: 20px;
  background: #fdfdfd;
  border: 2px solid #5fb8fd;
  border-radius: 10px;
  padding: 1rem;
  box-shadow: 0 5px 15px rgba(0, 0, 0, 0.15);
  animation: fadeIn 0.3s ease;
  z-index: 999;
} */

.close-legend {
  background: none;
  border: none;
  font-size: 1.2rem;
  font-weight: bold;
  color: #2d2f3e;
  float: right;
  cursor: pointer;
}

.close-legend:hover {
  color: #ff4e4e;
}

.buttons {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
  width: 100%;
}


button:disabled {
  cursor: not-allowed;
}
input:disabled {
   cursor: not-allowed;
}


@keyframes fadeIn {
  from {
    opacity: 0;
    transform: translateX(30px);
  }
  to {
    opacity: 1;
    transform: translateX(0);
  }
}

